@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --Playfair: 'Playfair Display', serif;
}

#viz4 {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: white;
}

text.title {
  font-size: 19px;
  font-weight: 600;
}

text.title-subtitle {
  font-size: 10px;
}


text.label {
  font-size: 14px;
  font-weight: 400;
}

svg {
    font-family: var(--Playfair);
    shape-rendering: crispEdges;
  }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
  }

path.domain {
    stroke: none;
  }

.y .tick line {
    stroke: #ddd;
  }