@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Rubik:wght@500&display=swap');


body {
	margin: 0;
	border: 0;
	background-color: rgb(34,34,34);
	color: white;
	/*font-family: Georgia, "Times New Roman";*/
}

.navbar {
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: center;
	background: rgb(34,34,34);
	padding-top: 18px;
}

.navbar a {
	padding-right: 15px;
	text-decoration: none;
	color: rgb(144,144,144);
	text-transform: uppercase;
	font-size: 13px;
}

.intro_wrapper {
   	height: 100%;
   	width: 100%;
}

.bg_img {
	content: "";
	background-image: url("img/bg_img.jpg");
	background-size: cover;
   	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	position: absolute;
  	background-size: cover;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	opacity: 0.75;
  	z-index: -2;
  	opacity: 0.24;
}

/*.text {
	width: 70%;
	margin: auto;
}
*/
.main_headline {
	text-align: center;
	padding-top: 115px;
	margin: auto;
	/*width: 60%;*/
	/*text-transform: uppercase;*/
	font-size: 44px;
	font-weight: bold;
	width: 70%;
}

.byline {
	text-align: center;
	font-size: 18px;
	padding-top: 75px;
}

.date {
	text-align: center;
	padding-top: 5px;
	font-size: 18px;
	color: rgb(144,144,144);
}

.intro {
	width: 55%;
	margin: auto;
	padding-top: 65px;
	line-height: 190%;
}

.intro p {
	text-align: center;
	font-size: 18px;
	padding: 5px;
	/*background-color: rgba(0, 0, 0, 0.2);*/
}

.button {
	text-align: center;
	padding-top: 40px;
	padding-bottom:20px;
}

.button a {
	text-decoration: none;
	color: black;
}

.btn {
	background: rgb(241,243,244);
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
	padding-right: 40px;
	padding-left: 40px;
	color: black;
}

.button p {
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 10px;
}

.carousel {
  width:600px;
  height:auto;
  margin: auto;
}

.carousel-control-next-icon:after
{
  content: '';
  font-size: 55px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '';
  font-size: 55px;
  color: white;
}

/*Audio*/
.rec_1 {
	
}


/*#################   FIRST SUB   ###########*/

.body_title {
	width: 55%;
	margin: auto;
	padding-top: 70px;
}

.body_title_2 {
	width: 55%;
	margin: auto;
	padding-top: 20px;
}

.body_title p {
	/*text-align: left;
	padding-left: 285px;
	font-weight: bold;
	font-size: 25px;*/
	text-align: left;
	font-weight: bold;
	font-size: 25px;
	/*text-transform: uppercase;*/
}

.body_title_2 p {
	/*text-align: left;
	padding-left: 285px;
	font-weight: bold;
	font-size: 25px;*/
	text-align: left;
	font-weight: bold;
	font-size: 25px;
	/*text-transform: uppercase;*/
}

.first_page {
	padding-top: 80px;
}

.first_page h2{
	width: 55%; 
  	text-align: center; 
   	border-bottom: 1px solid rgb(144,144,144); 
   	line-height: 0.1em;
   	margin: auto; 

}

.first_page h2 span {
	text-transform: uppercase;
	font-size: 14px;
	background: rgb(34,34,34); 
    padding:0 10px;
}

/*First Page Body*/
.first_page_body {
	width: 55%;
	margin: auto;
	padding-top: 50px;
}

/*################   SECOND SUB   ####################*/

.second_page {
	padding-top: 30px;
}

.second_page h2{
	width: 50%; 
  	text-align: center; 
   	border-bottom: 1px solid rgb(144,144,144); 
   	line-height: 0.1em;
   	margin: auto; 

}

.second_page h2 span {
	text-transform: uppercase;
	font-size: 14px;
	background: rgb(34,34,34); 
    padding:0 10px;
}

/*First Page Body*/
.second_page_body {
	width: 55%;
	margin: auto;
	padding-top: 25px; 
}

/*################## THIRD SUB ########################*/

.third_page {
	padding-top: 40px;
}

.third_page h2{
	width: 55%; 
  	text-align: center; 
   	border-bottom: 1px solid rgb(144,144,144); 
   	line-height: 0.1em;
   	margin: auto; 

}

.third_page h2 span {
	text-transform: uppercase;
	font-size: 14px;
	background: rgb(34,34,34); 
    padding:0 10px;
}

/*First Page Body*/
.third_page_body {
	width: 55%;
	margin: auto;
	padding-top: 25px;
}

/*#######################   FOURTH SUB   ######################*/

.fourth_page {
	padding-top: 40px;
}

.fourth_page h2{
	width: 55%; 
  	text-align: center; 
   	border-bottom: 1px solid rgb(144,144,144); 
   	line-height: 0.1em;
   	margin: auto; 

}

.fourth_page h2 span {
	text-transform: uppercase;
	font-size: 14px;
	background: rgb(34,34,34); 
    padding:0 10px;
}

/*First Page Body*/
.fourth_page_body {
	width: 55%;
	margin: auto;
	padding-top: 25px;
}

/*###############   FIFTH SUB   ################*/

.fifth_page {
	padding-top: 40px;
}

.fifth_page h2{
	width: 55%; 
  	text-align: center; 
   	border-bottom: 1px solid rgb(144,144,144); 
   	line-height: 0.1em;
   	margin: auto; 

}

.fifth_page h2 span {
	text-transform: uppercase;
	font-size: 14px;
	background: rgb(34,34,34); 
    padding:0 10px;
}

/*First Page Body*/
.fifth_page_body {
	width: 55%;
	margin: auto;
	padding-top: 25px;
}


/*####################################################################################################*/
/*####################################################################################################*/
											/*VIZ*/
/*####################################################################################################*/
/*####################################################################################################*/
#viz1 {
	background-color: white;
	width: 80%;
	height: 40%;
	margin: auto;
}

#viz1 iframe {
}

#viz2 {
	background-color: white;
	width: 80%;
	height: 40%;
	margin: auto;
}

#viz2 iframe {
}

.map {
	width: 80%;
	height: 40%
	height:auto;
	margin: auto;
}

.prison_img {
	width:80%;
	margin: auto;
}

#viz3 {
	background-color: white;
	width: 80%;
	height: 40%;
	margin: auto;
}

#viz4 {
	background-color: white;
	width: 80%;
	height: 40%;
	margin: auto;
}

#viz5 {
	background-color: white;
	width: 80%;
	height: 40%;
	margin: auto;
}

#viz6 {
	background-color: white;
	width: 80%;
	height: 40%;
	margin: auto;
}

/*####################   Testimonies Block   ###################*/

.testimonies {
	width: 80%;
	height: 20%;
	margin: auto;
	background-color: rgb(144,144,144);
}

.testimonies p {
	text-align: center;
	font-size: 18px;
}

.testimonies2 {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 20%;
	margin: auto;
	justify-content: space-between;
	/*background-color: rgb(144,144,144);*/
}

.testimonies2 p {
	text-align: center;
	font-size: 18px;
}

.bib_content {
	width:55%;
	margin: auto;
	padding-top: 40px;
	word-wrap: break-word;
}

.bib_content p {
	color: rgb(144,144,144);
	font-size: 14px;
}

.bib_content a {
	/*color: rgb(144,144,144);*/
	/*text-decoration: underline;*/
}

/*################   Cards   #################*/

.card-body p {
	/*background-color: rgb(144,144,144);*/
	font-size: 15px;
	padding-bottom: 30px;
}

.card-body div {
	position: absolute;
	bottom:0px;
}

.footer {
	width: 100%;
	/*background-color: red;*/
	margin: auto;
	align-items: center;
}

.footer h6 {
	text-align: center;
}

.footer p {
	text-align: center;
	font-size: 12px;
	padding-top: 40px;
}
