@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Rubik:wght@500&display=swap');;


body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 24px;
	padding: 25px;
}

/*###########################################################################*/
/*Parallax*/

.parallax {
	background: url('img/img_1.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.7;
	height: 800px;
}

h1, h2 {
	align-self: center;
	justify-content: center;
	color: black;
	opacity: none;
	font-family: 'Rubik', sans-serif;
}

/*################################################################################*/
/*First Block*/
.first-page img {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 200px;
}

.two-page-div {
	max-width: 960px;
	margin: 0 auto;
	/*background: #f9f9f9;*/
	font-size: 24px;
	padding: 25px;
	display: flex;
	flex-direction: row;
}

.first-page {
	/*background-color: red;*/
	padding-right: 15px;
}

.first-page img {
	width: 300px;
	height: auto;
}

.first-page h2 {
	color: black;
}

.second-page {
	padding-left: 15px;
}

/*##################################################################################*/
/*HORIZONTAL SCROLL*/

.horizontal_scroll {
	display: flex;
	flex-direction: row;
	padding: 135px;
	background: url('img/bcg2.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	/*opacity: 0.6;*/
}

.imgBox {
	/*padding:25px;*/
}

.imgBox img {
	width: 1000px;
}

/*##########################################################################################*/
/*THIRD BLOCK*/

.two-page-div2 {
	/*max-width: 960px;*/
	margin: 0 auto;
	/*background: #f9f9f9;*/
	font-size: 24px;
	padding: 25px;
	display: flex;
	flex-direction: row;
	background: url('img/bcg2.jpg') no-repeat center;
}

.first-page2 img {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 200px;
}

.first-page2 {
	/*background-color: red;*/
	padding-right: 15px;
}

.first-page2 img {
	width: 300px;
	height: auto;
}

.first-page2 h2 {
	color: black;
}

.second-page {
	padding-left: 15px;
}